<a href="https://colab.research.google.com/github/swetharamana/Machine-Learning-with-Python/blob/master/FDP%20NITWPython_Programming_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Starts Here

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("CS-533")

In [ ]:
print('I like "MIB4"')
print("I like 'MIB4'")
# print('"CS-533"')
#print('Can't do this')
print("Can't do this?")

In [ ]:
# Printing multiple type of data
print('can do this',5)
print('cannot do this:'+5)

In [ ]:
# Code spanning to more than one line...
print("Hi How are you?")
print("Hi \
How are you?")

Hi How are you?
Hi How are you?

# Variables in Python

In [ ]:
# Using Variables in code

var1 = 20
print(var1)
print(type(var1))

In [ ]:
var2 = 34
print(var2+45)
print('abcd'+'45')
#print ('abcd'+45)

In [ ]:
var3 = 'text'
print(len(var3))

In [ ]:
a, b, c = 1, 2, "john"
print(a,b,c)

In [ ]:
a1 =a2 = a3 = a4 =9
print(a2)

In [ ]:
# swaping made easy

val1 =90 ; val2 =34
print(val1,'-----',val2)

val1,val2 = val2,val1
print(val1,'-----',val2)

In [ ]:
#Printing with Parameters - formatted output
name = "Zubin"
age = 34
print ("My name is %s and weight is %d kg!" % ('Zubin', 34)) 
print("I just printed my name as {0} and weight as {1}".format('Zubin', 34))  # Use of the format method
print(f"I again just printed my name as {name} and weight as {age}")          # Use of f-strings

My name is Zubin and weight is 34 kg!
I just printed my name as Zubin and weight as 34

In [ ]:
#  int is not a keyword in python
int = 9
print(int)

9

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Boolean Variables
var4 = not 0
print(var4)
print(type(var4))

var5 = False
print(var4 or var5)

True
<class 'bool'>
True

# Basic Control Flow Constructs in Python

In [ ]:
# Simple-if: If condition A then do task#1
# Boolean choice-if: If condition A then do task#1, else do task#2
# Multi-choice-if: If condition A then do task#1, else If condition B then do task#2, else if condition C then do task#3, ..., else do task#n 

if(False == False):
    print('if block')
    print('one more') 
   
else:
    print('else block')

In [ ]:
num = -9
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [ ]:
# A ssmall code to test which of three number is the greatest
a=1
b=2
c=3
if(a>b):
  if(a>c):
    print ('%d is the greatest' %a)
  else:
    print ('%d is greatest' %c)
else:
  if(b>c):
    print ('%d is the biggest' %b)
  else: 
    print ('%d is greatest' %c)

3 is greatest

In [ ]:
# Taking inputs from user and using functions for modular code...

a = input("Enter your value: ") 
print(a)
b = input("Enter your value: ") 
print(b) 
c = input("Enter your value: ") 
print(c) 

def maximum(a,b,c):
  if(a>b):
    if(a>c):
      return a
    else:
      return c
  else:
    if(b>c):
      return b
    else: 
      return c

max = maximum(a,b,c)
print(max)

In [ ]:
# Code to check input type in Python 
  
number = input ("Enter number :") 
print(number) 
name = input("Enter name : ") 
print(name) 
  
# Printing type of input value 
print ("type of number", type(number)) 
print ("type of name", type(name))

In [ ]:
# Typecasting suitably...

input1 = input()
#num1 = int(input1)
input2 = input()
#num2 = int(input2)

# printing the sum in integer 
#print(num1 + num2) 
print(input1 + input2)

67
9
679

In [ ]:
# Looping constructs in Python
# for loop

for itr in range(0,10,2):
#for itr in range(10,0,-1):
    print('loop', itr)

In [ ]:
# while loop
value = 4
while value<10:
    print(value)
    value+=1

In [ ]:
# do-while loop in Python
# do {  
#     //statement  
#} while (condition); 

i = 1  
while True:  
    print(i)  
    i = i + 1  
    if(i > 5):  
        break

In [ ]:
# Abnormal exit from loops: 'break' and 'continue' statements in loops

i = 0
while i < 6:
  i += 1
  if i == 3:
    break
  print(i)

1
2

# Dealing with Strings

In [ ]:
var11 = 'testing'
var22 = "i am running"
# you can write comment here 
print ("var11[0]: ", var11[0])
print ("var22[1:6]: >", var22[1:6],"<")

var11[0]:  t
var22[1:6]: >  am r <

In [ ]:
# Strings are immutable
mystring = '1234'
print(mystring)
mystring[2] = ‘B’

In [ ]:
str1 = "hello"
print(str1*4)
#print(str1/4)

# Dealing with a List of Data - List, Tuple, Dictionary

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          
print (list[-2])     
print (list[1:3])     
print (list[2:])      
print (tinylist * 2)  
print (list + tinylist)

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]

print (list1)
del list1[2]
print ("After deleting value at index 2 : ", list1)

In [ ]:
a1 = [1,2,3,4,5,9]
a2 = [2,4,512,1,3]
print(a1+a2)

In [ ]:
tuple1 = ('cs533','cs534', 'cs615')
print(tuple1)
tuple1[2]

('cs533', 'cs534', 'cs615')

'cs615'

In [ ]:
#tuple1[3]='EM090'

In [ ]:
del tuple1
print(tuple1)

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
dict['Age'] = 8; 
dict['School'] = "DPS School" 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

In [ ]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [ ]:
dict1 = {}
print(type(dict1))
emptyset = set([1,2])
print(type(emptyset))
print(emptyset)
emptyset.add(3)
print(emptyset)
emptyset.remove(2)
print(emptyset)

<class 'dict'>
<class 'set'>
{1, 2}
{1, 2, 3}
{1, 3}

In [ ]:
data = input()
print('you entered',data)

In [ ]:
data1 = input()
print(type(data1))

In [ ]:
import numpy as np

b1 = np.array([1,2,3,5,5])
b2 = np.array([234,54,24,2,3])

print(b1+a2)

print(b2 * 3)

# Dealing with Exceptions

In [ ]:
45/0

ZeroDivisionError: ignored

In [ ]:
try:
  45/0
except Exception:
  print('Exception handled Sucessfully....')

Exception handled Sucessfully....

In [ ]:
# Nesting......
try:
  45/0
except Exception:
  print('First exception handled Sucessfully....')
  try:
    tmp_list = [5,745,976,2346]
    print(tmp_list[5])
  except Exception:
    print('Second exception handled Sucessfully....')

First exception handled Sucessfully....
Second exception handled Sucessfully....

In [ ]:
# Finally Block always runs...
try:
  tmp_list = [5,745,976,2346]
  print(tmp_list[3])    # try with index > 3
except Exception:
  print('Except block.....')
finally:
  print('Finally block....')

2346
Finally block....

# Dealing with External Storage: Files

In [ ]:
data1 = open('example.txt','r')
data1.read()

'I am here\nWhere are you?'

In [ ]:
data1 = open('example.txt','r')
data1.readlines()

['I am here\n', 'Where are you?']

In [ ]:
data1 = open('example.txt','r')
data1.readline()
#data1.readline()
data1.close()

In [ ]:
data2 = open('example_write.txt','w')
data2.write('example_data_new')
data2.flush()
data2.close()

# Functions

In [ ]:
def calculateSum(a,b):
    return a+b

print(calculateSum(234,56))
print(calculateSum(34.2,6.4))  
print(calculateSum('text1','text2'))

In [ ]:
def fun1():
    print('in side function1--')
    fun1()
fun1()

In [ ]:

def fun1(count):
    count = count +1
    print('in side function1--')
    if count < 10:
        fun1(count)
        

fun1(5)

In [ ]:
# Implementing 'switch' like statement using a function in Python

def week(i):
        switcher={
                0:'Sunday',
                1:'Monday',
                2:'Tuesday',
                3:'Wednesday',
                4:'Thursday',
                5:'Friday',
                6:'Saturday'
             }
        #return switcher.get(i,"Not a valid day of a week")
        return switcher[i]

week(7)

KeyError: ignored

# Importing Library Functions?

In [ ]:
!ls

prime.py  __pycache__  sample_data

In [ ]:
import prime
print(prime.isPrime(29)) # returns True

True

In [ ]:
# import examples

import time
time1 = time.time()
print('Current Time is', time.time(), time1)

print(time.__doc__)

Current Time is 1595904150.3185527 1595904150.31853
This module provides various functions to manipulate time values.

There are two standard representations of time.  One is the number
of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
or a floating point number (to represent fractions of seconds).
The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
The actual value can be retrieved by calling gmtime(0).

The other representation is a tuple of 9 integers giving local time.
The tuple items are:
  year (including century, e.g. 1998)
  month (1-12)
  day (1-31)
  hours (0-23)
  minutes (0-59)
  seconds (0-59)
  weekday (0-6, Monday is 0)
  Julian day (day in the year, 1-366)
  DST (Daylight Savings Time) flag (-1, 0 or 1)
If the DST flag is 0, the time is given in the regular time zone;
if it is 1, the time is given in the DST time zone;
if it is -1, mktime() should guess based on the date and time.

In [ ]:
import keyword
print(keyword.kwlist)